.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 300px;
  height: 175px;
  margin: auto;
  margin-top: 30vh;
  background: linear-gradient(rgb(235, 48, 48),rgb(208, 120, 127));
  border-radius: 15px;

  h3{
    color: rgb(0, 0, 0);
  }

  form{
    display: flex;
    align-items: stretch;
    flex-direction: column;
  }
  
  div {
    margin: 5px;

    input{
      border-radius: 5px;
      border: none;
    }

    &:hover{
      height: 17px;
    }

    &:focus{
      height: 17px;
      outline: none;
      border: 1px solid rgb(4, 4, 4);
    }

    select {
      border-radius: 5px;
      border: none;
      margin: 5px;
      cursor: pointer;
    }

    option{
      border-radius: 5px;
     }

    &:focus {
      height: 17px;
      outline:none;
      border: 1px solid rgb(4, 4, 4);
    }

    &:hover {
      background-color: rgb(195, 208, 208);
    }
  }

  button {
    border-radius: 5px;
    border: none;
    margin: auto;
    margin-top: 3px;
    cursor: pointer;
  }
  &:hover {
    background-color: rgb(195, 208, 208);
  }
}

.circle {
  width: 150px;
  height: 150px;
  position: relative;
  animation-name: image;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  
  img{
    width: 150px;
    height: 150px;
  }
}

@keyframes image{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}